<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="NCZ"     value="10"/> <!-- Maximum number of books per day -->
    <add key="DOM"     value="2"/>  <!-- Maximum number of books domains -->
    <add key="NMC"     value="5"/>  <!-- Maximum number of books per interval -->
    <add key="PER"     value="10"/> <!-- Days interval -->
    <add key="C"       value="5"/>  <!-- Maximum number of books per borrow -->
    <add key="D"       value="3"/>  <!-- Maximum number of books per domain -->
    <add key="L"       value="2"/>  <!-- Months interval for borrowing -->
    <add key="LIM"     value="10"/> <!-- Maximum number of extensions -->
    <add key="DELTA"   value="31"/> <!-- Grace Period -->
    <add key="PERSIMP" value="10"/> <!-- Maximum granted books per day for librarian -->
  </appSettings>
</configuration>